body {
    margin: 0px;
    padding: 0px;
    background-color: #bdbdbd;
}
.dropdown-menu{
    background-color: #7a7a7b5e;
}
.encabezado {
    background-image: url(../img/encabezado3.jpg);
    background-position:  center;

}


#catalogo{
    background-color: rgba(0, 0, 0, 0.181);
    display: flex;
    height: 100px;
}
.ver-carrito {
    font-size: 25px;
    margin-right: 20px;
    cursor: pointer;
}
/* product cards*/
.shop-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: Arial;
}
.card > img {
    width: 90%;
    height: 300px;
}
.price {
    color: grey;
    font-size: 22px;
}
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.card button:hover {
    opacity: 0.7;
}

/* CARRITO*/
.modal-container{
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: #fff;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow:auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}
.modal-container::-webkit-scrollbar{
    display: none;
}
.modal-header {
    display: flex;
    justify-content: space-around;
    background-color: #0a0909;
    color: #fff;
    width: 100%;
}
.modal-header-title {
    justify-self: start;
}
.modal-header-button {
    cursor: pointer;
}
.modal-container > .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    width: 70%;
    margin: 10px;
    background-color: rgba(248, 242, 242, 0.315);
}
.modal-container > div > img {
    height: 120px;
    width: 120px;
}
.total-content {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}
.delete-product {
    cursor: pointer;
}
.cantidad-carrito {
    background-color: #D4AF37;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    padding: 4px;
    top: 37px;
    right: 14px;
    position: absolute;
    display: none;
}
.restar {
    cursor: pointer;
}
.sumar {
    cursor: pointer;
}

.enlace {
    color: 	#D4AF37;
    font-size: 25px;
    font-family: 'Abril Fatface', cursive;
    
}
.enlace2 {
    font-size: 25px;
    font-family: "Kdam Thmor Pro", sans-serif;
}

footer {
    display: flex;
    background-color: #7a7a7b;
    padding: 28px;
    align-items: center;
    justify-content: space-between;
}

footer img {
    height: 50px;
    width: 50px;
}
footer p {
    font-weight: 600;
}

    .footerlogo {
    display: flex;
    gap: 30px;
}
